.md-typeset div details.quote {
    margin-top: 15px;
    font-size: 7pt;
}

.wm-page-content {
    max-width: 800;
}

.doc.doc-heading {
    border-color: transparent;
}

.table.table-bordered {
    border-color: #aaa;
}

.doc.doc-object {
    margin-top: 25px;
}

.doc.doc-heading code {
    border-color: transparent;
    white-space: nowrap;
}

.quote summary code {
    color: #a11
}

.mkapi-section-name-body {
    font-size: 0.9em;
}

.mkapi-item-description {
    font-size: .8rem;
}

.mkapi-node code.mkapi-item-name {
    font-size: 0.8em;
}

.md-header {
    background-color: #222;
}

.md-main {
    background-color: #ccc;
}
