header.md-header[data-md-component=header]{
    background-color: #333;
    border-bottom-width: 3px;
    border-bottom-color: #e62;
    border-end-start-radius: 25px;
    border-bottom-style: outset;
}

.md-nav.md-nav--primary {
    border: 2px raised #a846b9;
}

code.language-bash {
    background-color: #6e7681;
    color: #fff;
}
