header.md-header[data-md-component=header]{
    background-color: rgb(55, 58, 56);
    border-bottom-width: 4px;
    border-bottom-color: rgb(238, 92, 34);
    border-end-start-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-style: ridge;

}

code.language-bash {
    background-color: #6e7681;
    color: #fff;
}

div.doc.doc-object.doc-function h3 code {
    font-size: 13pt;
    padding: 6px;
}

div.doc.doc-object.doc-function .doc.doc-contents{
    margin-left: 30px;
    align-self: center;
    display: box;
}

.doc.doc-contents {
    margin-left: 30px;
    padding-left: 12px;
    border-left: 2px rgba(121, 138, 116, 0.925) solid;
}

div.md-typeset table thead tr th {
    padding: 1px;
}

div.md-typeset__table td.doc-param-details {
    padding: 0px;
}

div.md-typset table tbody tr td.doc-param-details:not(div) {
    padding: 1px;
}
