root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.md]
trim_trailing_whitespace = false
insert_final_newline = true
indent_size = 4


[*.{py,c,cpp,java}]
indent_style = space
indent_size = 4

[*.py]
trim_trailing_whitespace = true
indent_style = space

[*.{js,ts,json}]
indent_style = space
indent_size = 2

[lib/**.js]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2

[*.bat]
indent_style = tab
end_of_line = crlf

[LICENSE]
insert_final_newline = false
