# enviornment packages
node_modules/
*.torrent
coverage.sh
coverage.xml
*.exe
# temp files
tests/TESTDIR
/tests/tempdir
archive/
temp/
.benchmarks/
# Byte-compiled / optimized / DLL files
*.bin
*.pyc
__pycache__/
*.py[cod]
codacy.py
*$py.class
# Distribution / packaging
codacy.sh
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
testfile
# Unit test / coverage reports
output.json
pytest_html_report.html

htmlcov/
.tox/
.coverage
.coverage.*
.cache
*.cover
.pytest_cache/
*.log
# Jupyter Notebook
.codacy-coverage/
.env
env/
# IDE settings
.vscode/
.editorconfig
