# enviornment packages
node_modules/
start.py
*.torrent
tests/TESTDIR
coverage.sh
coverage.xml
Release/
*.exe
# bite-code
*.pyc
*.bin
# temp files
/tests/tempdir
temp/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Distribution / packaging
codacy.sh
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
testfile
# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
*.cover
.pytest_cache/
*.log
# Jupyter Notebook
.ipynb_checkpoints
.codacy-coverage/
.env
env/
# IDE settings
.vscode/
