include LICENSE
include README.md
include CHANGELOG.md
include requirements.txt
include pyproject.toml
include Makefile
include setup.py

recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
