include CHANGELOG.md
include requirements.txt
include Makefile
include .cbuld
include tox.ini

recursive-include assets *
recursive-include c *

recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
