setuptools
wheel
pyroma
bandit
coverage
pytest
pytest-cov
pycodestyle
pydocstyle
mkdocs
mkdocstrings
mkapi
mkdocstrings-python
mkdocs-material
pymdown-extensions
mkdocs-coverage
black
isort
yapf
pyben>=0.3.1
pylint
tox
pyflakes
mccabe
markdown
pygments
pymdown-extensions
