black
isort
bandit>=1.7.0
coverage>=6.3.0
mkapi>=1.0.14
mkdocs>=1.2.3
mkdocs-bootswatch>=1.1
mkdocstrings>=0.17.0
prospector>=1.6.0
pyben>=0.2.7
pyinstaller>=4.9
pylint>=3.0.0a4
pyroma>=3.2
pytest>=7.0.0
pytest-randomly>=3.10.0
pytest-clarity>=1.0.1
pytest-cov>=3.0.0
setuptools
tqdm>=4.62.3
wheel
